<a href="https://colab.research.google.com/github/ds2025-col/buildinfn/blob/main/buildinfn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**map()**

the map() transform a given list to a new list by transforming each using a rule,its used to apply a function to each of a list or any other literable.

This is very usefull when we do vector mathematics.The map() will take multiple lists operates them and return output list.One thing to note is that all list should be same size becuase map() applies the function to corresponding element in those list.

In [1]:
list1=[1,2,3,4]    #lambda x:x**2 function square each number
x=map(lambda x:x**2,list1)      #map() return an iterator which is converted to a list
print(list(x))

[1, 4, 9, 16]

In [2]:
list1=['mango','apple','banana']   #calculate the lenght of each string
a=map(lambda x:len(x),list1)       #map() return an iterator which must  to be converted in to a list.
print(list(a))

[5, 5, 6]

In [4]:
list1=['mango','banana','apple']
a=map(lambda x:x.upper(),list1)
print(list(a))

['MANGO', 'BANANA', 'APPLE']

In [ ]:
list1=[1,2,3,4]

**ZIP()


 The zip() take iterable (can be zero or more) makes iterator that aggregate element based on the iterable passed and retus an iterator or tuble**

In [5]:
list1=[1,2,3,4]
list2=[2,3,4,5,6,7]
x=tuple(zip(list1,list2))
print(x)

((1, 2), (2, 3), (3, 4), (4, 5))

In [8]:
list1=[1,2,3,4]
list2=[1,2,33,5,4,9]
x=set(zip(list1,list2))
print(x)

{(4, 5), (1, 1), (3, 33), (2, 2)}

In [9]:
list1=[1,2,3,4]
list2=[2,3,7,8]
x=dict(zip(list1,list2))
print(x)

{1: 2, 2: 3, 3: 7, 4: 8}

In [ ]:
list1=[1,2,3,4]
list2=[3,4,,6,7]
x=

In [6]:
for x in zip(list1,list2):
  print(x)

(1, 2)
(2, 3)
(3, 4)
(4, 5)

**FILTER()**


a filter() operate on a list return a subset of that list after applying the filter rule

In [7]:
list1=[1,2,3,4,5,6,7,8]
x=filter(lambda x :x%2==0,list1)     #keep only even number
list2=list(x)                        #filter() returns an iterator which we can covert to a list
print(list2)

[2, 4, 6, 8]

**scope**
a varible is only available from the region it is created,this is called scope

**local scope**

a variable created inside a function belongs to the local scope of that function and only used inside the fuction

In [10]:
def myfn():
  x=22.3
  print(x)
myfn()

22.3

In [13]:
def myfn():
 x=200
 def myinnerfn():
  print(x)
 myinnerfn()
myfn()

200

**GLOBAL SCOPE**

A variable created in the main body of pyhton code is a global variable and belongs to the global scope

a global variable are available from within any scope,global and local

variable created outside of a function is global and can be used by anyone

In [15]:
x=18
def myfn():
  y=29
  def myfn1():
    print(x)
  myfn1()
myfn()
print(x)

18
18

In [16]:
#global keyword convert a local varialble into global variable

def myfn():
  global x
  x=20
  def fn2():
    print(x)
  fn2()
myfn()
print(x)

20
20

In [17]:
y=50
def myfn1():
  global x
  x=200
  def myfn2():
    print(y)
  myfn2()
myfn1()
print(x)
print(y)

50
200
50